<ul>
<% if @artist && @artist.songs %>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %></li>
  <% end %>
<% else %>
  <% @songs.each do |song| %>
    <li><%= display_artist(song) %> - <%= link_to song.title, song_path(song) %></li>
  <% end %>
<% end %>
</ul>

<br>
<% if @artist %>
  <%= link_to "Add New Song", new_artist_song_path(@artist.id) %>
<% else %>
  <%= link_to "Add New Song", new_song_path %>
<% end %>
